form {
    max-width: 400px;
    min-height: 70vh;
  }
.form-signin{
    position:relative;
    left:400px;
    top:10px;
    text-align: center;
}
.form-floating{
    margin-top:30px;
    margin-bottom:30px;
}
p{
    color:red;
}