.newquestion{
    width:120px;
    padding:5px;
    background-color: #0d6efd;
    border:1px solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}
.newquestion:hover{
    background-color: rgb(13,85,253);
}
.newquestion_link{
    color:white;
    text-decoration: none;
}
.alert{
    color:red;
}
.container{
    min-height: 70vh;
    width:1000px;
    text-align: left;
}
.question{
    margin-top:10px;
}