.container {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  margin-bottom: 24px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  min-height: 70vh;
}

.mcard {
  background-color: darkgrey;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid silver;
  text-align: center;
  width:200px;
  height:75px;
  margin:20px;
}

.body {
  position:relative;
  bottom:45px;
  left:10px;
  margin-left: 10px;
}

a {
  font-size: 20px;
  text-decoration: none;
  color:white;
}

p {
  font-size: 12px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.avatar img {
  width: 48px;
  height: 48px;
  border-radius: 3px;
}
