.container {
  width: 100%;
  min-height: 70vh;
  display: grid;
}

.mcard {
  display: flex;
  flex-direction: column;
  padding: 2px;
  border: 1px solid silver;
  border-radius: 3px;
  text-align: center;
}

.mcard:hover {
  transform: scale(1.1);
  cursor: pointer;
}
