.container {
  width: 100%;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));
}

.mcard {
  display: flex;
  flex-direction: column;
  padding: 2px;
  border: 1px solid silver;
  border-radius: 3px;
  text-align: center;
}

.mcard:hover {
  transform: scale(1.1);
  cursor: pointer;
}
