.mainBody{
  min-height: 70vh;
  width:1000px;
  position:relative;
  left:150px;
}
a {
  font-size: 12px;
  text-decoration: none;
}
p,
.tag-list {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}

p.body {
  font-size: 16px;
}

p a {
  text-decoration: none;
  color: white;
}

.tag {
  background-color: darkgrey;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.tag_div{
  margin-top:15px;
  margin-bottom: 15px;
}
button{
  margin-right:30px;
  margin-bottom: 20px;
}
.question {
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
  border:2px solid rgb(204,204,204);
}
.qTitle{
  color:#3774A4;
}
.qUserTag{
  position:relative;
  border:2px solid rgb(204,204,204);
  border-radius: 10px;
  width:150px;
  height:80px;
  text-align: center;
  padding:7px;
  background-color: white;
  left:820px;
  margin-top: 10px;
}
.qUserTagBlock{
  position:relative;
  top:1px;
  display: block;
  margin-bottom: 10px;
}
.qUserTagLink{
  font-size: 15px;
}
.qUser {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}
.qBody{
  margin-top:10px;
  margin-bottom: 15px;
  font-weight:normal;
}
.message{
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  border:2px solid rgb(204,204,204);
  margin-top: 20px;
}
pre{
  width:700px;
}