.main_block{
    text-align: center;
}
h6{
    font-weight: normal;
}
input{
    width:480px;
    padding:5px;
}
textarea{
    width:480px;
    height:90px;
    padding:5px;
}
#submit{
    color: #fff;
    background-color: #0d6efd;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-top:20px;
}
#submit:hover{
    background-color: rgb(13,85,253);
}
.subm_part{
    color: #0d6efd;
    background-color: white;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #0d6efd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-top:20px;
    margin-right:10px;
}
.subm_part:hover{
    color:white;
    background-color: #0d6efd;
}
h4,h5{
    margin-top:20px;
}
p{
    color:red;
}
.block{
    text-align: left;
    width:530px;
    height:210px;
    display: inline-block;
    vertical-align: middle;
    border:3px solid rgb(204,204,204);
    padding-left:10px;
    margin:20px;
}
.sub_block{
    display:inline-block;
    vertical-align: middle;
    width:255px;
    height:210px;
}
.confirm{
    text-align: left;
}
a{
    text-decoration: none;
    color:white;
}